* {
  box-sizing: border-box;
}

body {
  background-color: #f5f2e4;
  color: #4682b4;
  font-family: "Inter";
}

main {
  max-width: 360px;
  margin: 30px auto;
}

h1 {
  text-align: center;
  color: #000;
  margin: 0;
}

form {
  margin-top: 20px;
}

form input {
  width: 100%;
  background-color: transparent;
  color: #36454f;
  border: 2px solid #30313d;
  padding: 2px 5px;
  border-radius: 5px;
}

form input[type="datetime-local"] {
  color: #36454f;
}

form div.basic {
  display: flex;
  gap: 5px;
  margin-bottom: 5px;
}

form button {
  width: 100%;
  margin-top: 5px;
  border: 0;
  border-radius: 5px;
  padding: 5px;
  background-color: #ffb347;
  cursor: pointer;
}

form button:hover {
  background-color: #ffa07a;
}

div.transactions {
  margin-top: 10px;
}

div.transaction {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  border-top: 1px solid #ffb347;
}

div.transaction:first-child {
  border-top: 0;
}

div.transaction div.name {
  font-size: 1rem;
  font-weight: bold;
}

div.transaction div.description {
  font-size: 0.7rem;
  color: #888;
}

div.right {
  text-align: right;
}

div.price.green {
  color: #1c1;
}

div.price.red {
  color: #c11;
}

div.transaction div.datetime {
  font-size: 0.7rem;
  color: #888;
}
